<!DOCTYPE html>
<html>
<head>
    <title>Set Augmentation Parameters</title>
</head>
<body>
    <h1>Set Augmentation Parameters</h1>
    <p>You have uploaded <strong>{{ uploaded_images }}</strong> images.</p>
    <p>You have selected the following augmentations:</p>
    <ul>
        {% for key, value in augmentations.items() %}
            {% if value == 'yes' %}
                <li>{{ key.replace('_', ' ').title() }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <form action="{{ url_for('set_augmentation_count') }}" method="post">
        <label>
            Number of images to augment (max {{ uploaded_images }}):
            <input type="number" name="images_to_augment" value="{{ uploaded_images }}" min="1" max="{{ uploaded_images }}">
        </label>
        <br><br>
        <button type="submit">Apply Augmentations</button>
    </form>
</body>
</html>
